<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="heart img-responsive img-rounded m-t-md hidden-xs"
                  tooltip="The greatest wealth is Health"></span>
        </div>
        <div class="col-md-8">
            <h1 ng-if="isAuthenticated() && account.firstName" translate="main.title"
                translate-values="{name: '{{account.firstName}}'}">Welcome, Java Hipster!</h1>

            <h1 ng-hide="isAuthenticated()">Welcome!</h1>

            <p class="lead" translate="main.subtitle">This is your homepage</p>

            <div ng-switch="isAuthenticated()">
                <div ng-switch-when="true">
                    <div class="row">
                        <div class="col-md-6 col-xs-5">
                            <h4 translate="main.points.thisWeek" class="m-t-sm hidden-xs"
                                translate-values="{date: '{{pointsThisWeek.week | date: 'longDate'}}'}">
                                Points for the week of {{pointsThisWeek.week | date: 'longDate'}}:
                            </h4>
                            <h4 translate="main.points.thisWeekMobile" class="m-t-sm visible-xs">
                                Points for {{pointsThisWeek.week | date: 'longDate'}}:
                            </h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <a ui-sref="points.add" class="btn btn-primary btn-raised m-n m-b-xs">Add Points</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="progress progress-lg" ng-show="pointsThisWeek.points">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     ng-class="{'progress-bar-success': pointsThisWeek.points >= preferences.weeklyGoal,
                                                'progress-bar-danger': pointsThisWeek.points < 10,
                                                'progress-bar-warning': pointsThisWeek.points > 10 && pointsThisWeek.points < preferences.weeklyGoal}"
                                     aria-valuenow="{{pointsThisWeek.points}}"
                                     aria-valuemin="0" aria-valuemax="21" style="width: {{pointsPercentage}}%">
                                    <span ng-show="pointsThisWeek.points">
                                        {{pointsThisWeek.points}} / Goal: {{preferences.weeklyGoal}}
                                    </span>
                                    <span class="sr-only">{{pointsPercentage}} points this week</span>
                                </div>
                            </div>
                            <alert type="info" ng-hide="pointsThisWeek.points">
                                No points yet this week, better get moving!
                            </alert>
                        </div>
                    </div>

                    <div class="row m-t-sm">
                        <div class="col-md-6 col-xs-3 text-nowrap">
                            <h4 class="m-t-md hidden-xs" translate="main.bloodPressure">Blood Pressure:</h4>
                            <h4 class="m-t-md visible-xs" translate="main.bloodPressureMobile">BP:</h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <a ui-sref="bloodPressure.add" class="btn btn-default btn-sm btn-raised">
                                Add Blood Pressure</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <span ng-if="bpReadings.readings.length">
                                <nvd3 options="bpOptions" data="bpData" class="with-3d-shadow with-transitions"></nvd3>
                            </span>
                            <span ng-if="!bpReadings.readings.length">
                                <alert type="info">No blood pressure readings found.</alert>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <h4 class="m-t-md" translate="main.weight">Weight:</h4>
                        </div>
                        <div class="col-md-4 text-right">
                            <a ui-sref="weight.add" class="btn btn-default btn-sm btn-raised">Add Weight</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <span ng-if="weights.weighIns.length">
                                <nvd3 options="weightOptions" data="weightData" class="with-3d-shadow with-transitions"></nvd3>
                            </span>
                            <span ng-if="!weights.weighIns.length">
                                <alert type="info">No weigh-ins found.</alert>
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <p class="m-t-md col-md-10">
                            <a ui-sref="preferences.add" class="pull-right">Edit Preferences</a>
                            <a ui-sref="history">View History</a>
                        </p>
                    </div>

                    <p translate="main.logged.message" translate-values="{username: '{{account.login}}'}"
                       style="border-top: 1px solid silver; padding-top: 5px; margin-top: 40px">
                        You are logged in as user "{{account.login}}".
                    </p>
                </div>

                <div ng-switch-when="false">
                    <p><strong>
                        To get started, please
                        <a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Authenticate</span>.</a>
                    </strong>
                    </p>

                    <p>
                        <a ui-sref="about" class="btn btn-info hidden-xs">
                            Learn more about 21-Points Health
                            <div class="ripple-wrapper"></div></a>
                        <a ui-sref="about" class="btn btn-info visible-xs">
                            Learn more
                            <div class="ripple-wrapper"></div></a>
                    </p>

                    <p translate="main.question">
                        If you have any question on JHipster:
                    </p>

                    <ul id="resources">
                        <li><a href="http://www.jhipster-book.com" target="_blank"
                               translate="main.link.homepage">JHipster homepage</a></li>
                        <li><a href="http://stackoverflow.com/tags/jhipster-mini-book/info" target="_blank"
                               translate="main.link.stackoverflow">JHipster Mini-Book on Stack Overflow</a></li>
                        <li><a href="https://twitter.com/jhipster_book" target="_blank"
                               translate="main.link.contact">Contact @java_hipster on Twitter</a></li>
                        <li><a href="https://github.com/mraible/21-points/issues" target="_blank"
                               translate="main.link.issues">Report an issue</a></li>
                    </ul>

                    <p translate="global.messages.info.register">
                        Don't have an account yet? <a href="#/register">Register a new account</a>.
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
