
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPreferencesLabel" data-translate="21PointsApp.preferences.home.createOrEditLabel">Create or edit a Preferences</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.preferences.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.preferences.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="21PointsApp.preferences.weekly_goal" for="field_weekly_goal">Weekly Goal</label>
            <input type="number" class="form-control" name="weekly_goal" id="field_weekly_goal"
                    ng-model="vm.preferences.weekly_goal"
                    required min="10" max="21" />
            <div ng-show="editForm.weekly_goal.$invalid">
                <p class="help-block"
                    ng-show="editForm.weekly_goal.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.weekly_goal.$error.min" data-translate="entity.validation.min" translate-value-min="10">
                    This field should be more than 10.
                </p>
                <p class="help-block"
                    ng-show="editForm.weekly_goal.$error.max" data-translate="entity.validation.max" translate-value-max="21">
                    This field cannot be more than 21.
                </p>
                <p class="help-block"
                    ng-show="editForm.weekly_goal.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="21PointsApp.preferences.weight_units" for="field_weight_units">Weight Units</label>
            <select class="form-control" name="weight_units" ng-model="vm.preferences.weight_units" id="field_weight_units" required>
                <option value="kg" data-translate="21PointsApp.Units.kg">kg</option>
                <option value="lb" data-translate="21PointsApp.Units.lb">lb</option>
            </select>
            <div ng-show="editForm.weight_units.$invalid">
                <p class="help-block"
                    ng-show="editForm.weight_units.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="21PointsApp.preferences.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.preferences.user" ng-options="user as user. for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
