<div>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-8">
            <h2 jhiTranslate="twentyOnePointsApp.preferences.home.title">Preferences</h2>
        </div>
        <div class="col-sm-4 text-right">
            <button class="btn btn-primary float-right create-preferences" [routerLink]="['/', { outlets: { popup: ['preferences-new'] } }]" [ngbTooltip]="addTooltip" placement="bottom" [hidden]="preferences.length && !isAdmin">
                <span class="fa fa-plus"></span>
                <ng-template #addTooltip>
                    <span jhiTranslate="twentyOnePointsApp.preferences.home.createLabel">Add Preferences</span>
                </ng-template>
            </button>
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'twentyOnePointsApp.preferences.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="preferences">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="twentyOnePointsApp.preferences.weeklyGoal">Weekly Goal</span></th>
            <th><span jhiTranslate="twentyOnePointsApp.preferences.weightUnits">Weight Units</span></th>
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"><span jhiTranslate="twentyOnePointsApp.preferences.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let preferences of preferences ;trackBy: trackId">
                <td><a [routerLink]="['../preferences', preferences.id ]">{{preferences.id}}</a></td>
                <td>{{preferences.weeklyGoal}}</td>
                <td jhiTranslate="{{'twentyOnePointsApp.Units.' + preferences.weightUnits}}">{{preferences.weightUnits}}</td>
                <td *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    {{preferences.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../preferences', preferences.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'preferences/'+ preferences.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'preferences/'+ preferences.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
