<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <h2 data-translate="21PointsApp.preferences.home.title">Preferences</h2>
            </div>
            <div class="col-sm-5 text-right p-n">
                <form name="searchForm" class="form-inline">
                    <div class="form-group m-n">
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{ 'entity.action.search' | translate }}">
                    </div>
                    <button class="btn btn-info btn-sm" ng-click="vm.clear()" ng-if="vm.currentSearch">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-info btn-sm btn-raised" ng-click="vm.search(vm.searchQuery)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button class="btn btn-primary btn-sm btn-raised" ui-sref="preferences.new" ng-hide="vm.preferences.length && !vm.isAdmin"
                            uib-tooltip="{{'entity.action.new' | translate}}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="21PointsApp.preferences.weeklyGoal">Weekly Goal</span></th>
                    <th><span data-translate="21PointsApp.preferences.weightUnits">Weight Units</span></th>
                    <th has-authority="ROLE_ADMIN"><span data-translate="21PointsApp.preferences.user">User</span></th>
                    <th translate="21PointsApp.preferences.actions" class="col-md-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="preferences in vm.preferences track by preferences.id">
                    <td><a ui-sref="preferences-detail({id:preferences.id})">{{preferences.id}}</a></td>
                    <td>{{preferences.weeklyGoal}}</td>
                    <td data-translate="{{'21PointsApp.Units.' + preferences.weightUnits}}">{{preferences.weightUnits}}</td>
                    <td has-authority="ROLE_ADMIN">
                        {{preferences.user.login}}
                    </td>
                    <td>
                        <div class="btn-group btn-group-raised m-n">
                            <button type="submit" uib-tooltip="{{'entity.action.view' | translate}}"
                                    ui-sref="preferences-detail({id:preferences.id})"
                                    class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" uib-tooltip="{{'entity.action.edit' | translate}}"
                                    ui-sref="preferences.edit({id:preferences.id})"
                                    class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" uib-tooltip="{{'entity.action.delete' | translate}}"
                                    ui-sref="preferences.delete({id:preferences.id})"
                                    class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
