<!-- node_modules/angular-calendar/dist/css/angular-calendar.css -->
<div class="row text-center">
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChanged()">
                Previous
            </div>
            <div
                class="btn btn-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChanged()">
                Today
            </div>
            <div
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChanged()">
                Next
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
        <div class="btn-group">
            <div
                class="btn btn-primary"
                (click)="view = 'month'"
                [class.active]="view === 'month'">
                Month
            </div>
            <div
                class="btn btn-primary"
                (click)="view = 'week'"
                [class.active]="view === 'week'">
                Week
            </div>
            <div
                class="btn btn-primary"
                (click)="view = 'day'"
                [class.active]="view === 'day'">
                Day
            </div>
        </div>
    </div>
</div>
<br>

<ng-template #customCellTemplate let-day="day"
             let-openDay="openDay"
             let-locale="locale"
             let-tooltipPlacement="tooltipPlacement"
             let-highlightDay="highlightDay"
             let-unhighlightDay="unhighlightDay"
             let-eventClicked="eventClicked"
             let-tooltipTemplate="tooltipTemplate"
             let-tooltipAppendToBody="tooltipAppendToBody">
    <div class="cal-cell-top">
        <span class="cal-day-badge bg-{{day.dayPoints[0].meta.value >= 2 ? 'success' : 'warning'}}"
              *ngIf="day.dayPoints.length">
            {{ day.dayPoints[0].meta.value }}
        </span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
        <div class="cal-day-notes" *ngIf="day.dayPoints.length" [ngbPopover]="day.dayPoints[0].meta.notes">
            {{day.dayPoints[0].meta.notes}}
        </div>
    </div>
    <div class="cal-events" *ngIf="day.events.length > 0">
        <div
            class="cal-event"
            *ngFor="let event of day.events"
            [style.backgroundColor]="event.color.primary"
            [ngClass]="event?.cssClass"
            (mouseenter)="highlightDay.emit({event: event})"
            (mouseleave)="unhighlightDay.emit({event: event})"
            [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
            [tooltipPlacement]="tooltipPlacement"
            [tooltipEvent]="event"
            [tooltipTemplate]="tooltipTemplate"
            [tooltipAppendToBody]="tooltipAppendToBody"
            (mwlClick)="onEventClick($event, event)">
        </div>
        <!--<div class="cal-emoji" *ngIf="day.dayPoints.length" [ngSwitch]="day.dayPoints[0].meta.value">
            <span *ngSwitchCase="0">😞</span>
            <span *ngSwitchCase="1">😕</span>
            <span *ngSwitchCase="2">🙂</span>
            <span *ngSwitchCase="3">😁</span>
        </div>-->
    </div>
</ng-template>

<jhi-alert></jhi-alert>
<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        (beforeViewRender)="beforeMonthViewRender($event)"
        [cellTemplate]="customCellTemplate">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
</div>
