<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myBloodPressureLabel" jhiTranslate="twentyOnePointsApp.bloodPressure.home.createOrEditLabel" *ngIf="bloodPressure.id">Create or edit a Blood Pressure</h4>
        <h4 class="modal-title" id="myBloodPressureLabel" jhiTranslate="twentyOnePointsApp.bloodPressure.home.createLabel" *ngIf="!bloodPressure.id">Create or edit a Blood Pressure</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!bloodPressure.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="bloodPressure.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="twentyOnePointsApp.bloodPressure.timestamp" for="field_timestamp">Timestamp</label>
            <div class="d-flex">
                <input id="field_timestamp" type="datetime-local" class="form-control" name="timestamp" [(ngModel)]="bloodPressure.timestamp"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.timestamp?.dirty && editForm.controls.timestamp?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.timestamp?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.timestamp?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="twentyOnePointsApp.bloodPressure.systolic" for="field_systolic">Systolic</label>
            <input type="number" class="form-control" name="systolic" id="field_systolic"
                [(ngModel)]="bloodPressure.systolic" required />
            <div [hidden]="!(editForm.controls.systolic?.dirty && editForm.controls.systolic?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.systolic?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.systolic?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="twentyOnePointsApp.bloodPressure.diastolic" for="field_diastolic">Diastolic</label>
            <input type="number" class="form-control" name="diastolic" id="field_diastolic"
                [(ngModel)]="bloodPressure.diastolic" required />
            <div [hidden]="!(editForm.controls.diastolic?.dirty && editForm.controls.diastolic?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.diastolic?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.diastolic?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <label jhiTranslate="twentyOnePointsApp.bloodPressure.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="bloodPressure.user" required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === bloodPressure.user?.id ? bloodPressure.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
