
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBloodPressureLabel" data-translate="21PointsApp.bloodPressure.home.editLabel" ng-if="vm.bloodPressure.id">Create or edit a Blood Pressure</h4>
        <h4 class="modal-title" id="myBloodPressureLabel" data-translate="21PointsApp.bloodPressure.home.createLabel" ng-if="!vm.bloodPressure.id">Add a Reading</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.bloodPressure.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.bloodPressure.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="21PointsApp.bloodPressure.timestamp" for="field_timestamp">Timestamp</label>
                <div class="input-group">
                    <input id="field_timestamp" type="text" class="form-control" name="timestamp" datetime-picker="{{dateformat}}"
                           ng-model="vm.bloodPressure.timestamp" ng-model-options="{timezone: 'utc'}" is-open="vm.datePickerOpenStatus.timestamp" required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('timestamp')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.timestamp.$invalid">
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.timestamp.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="21PointsApp.bloodPressure.systolic" for="field_systolic">Systolic</label>
            <input type="number" class="form-control" name="systolic" id="field_systolic"
                    ng-model="vm.bloodPressure.systolic"
                    required />
            <div ng-show="editForm.systolic.$invalid">
                <p class="help-block"
                    ng-show="editForm.systolic.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.systolic.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="21PointsApp.bloodPressure.diastolic" for="field_diastolic">Diastolic</label>
            <input type="number" class="form-control" name="diastolic" id="field_diastolic"
                    ng-model="vm.bloodPressure.diastolic"
                    required />
            <div ng-show="editForm.diastolic.$invalid">
                <p class="help-block"
                    ng-show="editForm.diastolic.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.diastolic.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group" has-authority="ROLE_ADMIN">
            <label class="control-label" data-translate="21PointsApp.bloodPressure.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.bloodPressure.user" ng-options="user as user.login for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
