<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <h2 data-translate="21PointsApp.bloodPressure.home.title">Blood Pressures</h2>
            </div>
            <div class="col-sm-5 text-right p-n">
                <form name="searchForm" class="form-inline">
                    <div class="form-group m-n">
                        <input type="search" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{'entity.action.search' | translate}}">
                    </div>
                    <button class="btn btn-info btn-sm" ng-click="vm.clear()" ng-if="vm.currentSearch">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-info btn-sm btn-raised" ng-click="vm.search(vm.searchQuery)"
                            uib-tooltip="{{'entity.action.search' | translate}}">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button class="btn btn-primary btn-sm btn-raised" ui-sref="blood-pressure.new"
                            uib-tooltip="{{'entity.action.new' | translate}}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="timestamp"><span data-translate="21PointsApp.bloodPressure.timestamp">Timestamp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="systolic"><span data-translate="21PointsApp.bloodPressure.systolic">Systolic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="diastolic"><span data-translate="21PointsApp.bloodPressure.diastolic">Diastolic</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="21PointsApp.bloodPressure.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th data-translate="21PointsApp.bloodPressure.actions" class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="bloodPressure in vm.bloodPressures track by bloodPressure.id">
                    <td><a ui-sref="blood-pressure-detail({id:bloodPressure.id})">{{bloodPressure.timestamp | date: 'short': 'UTC'}}</a></td>
                    <td>{{bloodPressure.systolic}}</td>
                    <td>{{bloodPressure.diastolic}}</td>
                    <td>
                        {{bloodPressure.user.login}}
                    </td>
                    <td>
                        <div class="btn-group btn-group-raised m-n">
                            <button type="submit" uib-tooltip="{{'entity.action.view' | translate}}"
                                    ui-sref="blood-pressure-detail({id:bloodPressure.id})"
                                    class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" uib-tooltip="{{'entity.action.edit' | translate}}"
                                    ui-sref="blood-pressure.edit({id:bloodPressure.id})"
                                    class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" uib-tooltip="{{'entity.action.delete' | translate}}"
                                    ui-sref="blood-pressure.delete({id:bloodPressure.id})"
                                    class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
