<div>
    <div class="row">
        <div class="col-sm-7">
            <h2 translate="21pointsApp.bloodPressure.home.title">Blood Pressures</h2>
        </div>
        <div class="col-sm-5 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group p-r">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                           placeholder="{{'entity.action.search' | translate}}">
                </div>
                <button class="btn btn-info btn-sm" ng-click="search()"
                        tooltip="{{'entity.action.search' | translate}}">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <button class="btn btn-primary btn-sm" ui-sref="bloodPressure.new"
                        tooltip="{{'entity.action.new' | translate}}">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteBloodPressureConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(bloodPressure.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="21pointsApp.bloodPressure.delete.question" translate-values="{id: '{{bloodPressure.id}}'}">Are you sure you want to delete this BloodPressure?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="21pointsApp.bloodPressure.timestamp">Timestamp</th>
                    <th translate="21pointsApp.bloodPressure.systolic">Systolic</th>
                    <th translate="21pointsApp.bloodPressure.diastolic">Diastolic</th>
                    <th translate="21pointsApp.bloodPressure.user">user</th>
                    <th translate="21pointsApp.bloodPressure.actions" class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="bloodPressure in bloodPressures">
                    <td><a ui-sref="bloodPressure.detail({id:bloodPressure.id})">{{bloodPressure.timestamp | date: 'short'}}</a></td>
                    <td>{{bloodPressure.systolic}}</td>
                    <td>{{bloodPressure.diastolic}}</td>
                    <td>{{bloodPressure.user.login}}</td>
                    <td>
                        <div class="btn-group m-n">
                            <button type="submit" tooltip="{{'entity.action.view' | translate}}"
                                    ui-sref="bloodPressure.detail({id:bloodPressure.id})" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" tooltip="{{'entity.action.edit' | translate}}"
                                    ui-sref="bloodPressure.edit({id:bloodPressure.id})" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" tooltip="{{'entity.action.delete' | translate}}"
                                    ng-click="delete(bloodPressure.id)" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
