<div>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7">
                <h2 data-translate="21PointsApp.points.home.title">Points</h2>
            </div>
            <div class="col-sm-5 text-right p-n">
                <form name="searchForm" class="form-inline">
                    <div class="form-group m-n">
                        <input type="search" class="form-control" ng-model="vm.searchQuery" id="searchQuery"
                               placeholder="{{'entity.action.search' | translate}}">
                    </div>
                    <button class="btn btn-info btn-sm" ng-click="vm.clear()" ng-if="vm.currentSearch">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button class="btn btn-info btn-sm btn-raised" ng-click="vm.search(vm.searchQuery)"
                            uib-tooltip="{{'entity.action.search' | translate}}">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <button class="btn btn-primary btn-sm btn-raised" ui-sref="points.new"
                            uib-tooltip="{{'entity.action.new' | translate}}">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="date"><span data-translate="21PointsApp.points.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exercise"><span data-translate="21PointsApp.points.exercise">Exercise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meals"><span data-translate="21PointsApp.points.meals">Meals</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alcohol"><span data-translate="21PointsApp.points.alcohol">Alcohol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="21PointsApp.points.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="21PointsApp.points.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th data-translate="21PointsApp.points.actions" class="col-md-2">Actions</th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="points in vm.points track by points.id">
                    <td class="text-nowrap"><a ui-sref="points-detail({id:points.id})">{{points.date | date:'mediumDate'}}</a></td>
                    <td class="text-center">
                        <i class="glyphicon" ng-class="{'glyphicon-ok text-success': points.exercise,
                                                        'glyphicon-remove text-danger': !points.exercise}"></i>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon" ng-class="{'glyphicon-ok text-success': points.meals,
                                                        'glyphicon-remove text-danger': !points.meals}"></i>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon" ng-class="{'glyphicon-ok text-success': points.alcohol,
                                                        'glyphicon-remove text-danger': !points.alcohol}"></i>
                    </td>
                    <td>
                        <div class="truncate cursor" uib-popover="{{points.notes}}">{{points.notes}}</div>
                    </td>
                    <td>
                        {{points.user.login}}
                    </td>
                    <td>
                        <div class="btn-group btn-group-raised m-n">
                            <button type="submit" uib-tooltip="{{'entity.action.view' | translate}}"
                                    ui-sref="points-detail({id:points.id})"
                                    class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" uib-tooltip="{{'entity.action.edit' | translate}}"
                                    ui-sref="points.edit({id:points.id})"
                                    class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" uib-tooltip="{{'entity.action.delete' | translate}}"
                                    ui-sref="points.delete({id:points.id})"
                                    class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
