body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}
/*Custom alerts for notification*/
.alerts {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1100;
    right: 0px;
    min-width: 200px;
    padding: 5px;
}
.alerts .alert{
    opacity: 0.9;
    min-width: 60%;
    text-overflow: ellipsis;
    float: right;
    z-index: 1100;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* New CSS classes and modifications */
.m-n {
    margin: 0;
}

.p-r {
    padding-right: 10px;
}

h2 {
    margin-top: 0;
}

body {
    padding-bottom: 80px;
}

.modal-title {
    margin-bottom: 10px;
}

.footer {
    bottom: 0;
    left: 0;
    color: #666;
    background: #eee;
    border-top: 1px solid silver;
    position: fixed;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
}

.butterbar .bar {
    position: fixed;
    width: 100%;
    height: 0;
    text-indent: -9999px;
    background-color: #23b7e5;
    z-index: 1001;
}

.butterbar .bar:before {
    position: absolute;
    right: 50%;
    left: 50%;
    height: 3px;
    background-color: inherit;
    content: "";
}

.butterbar.active {
    -webkit-animation: changebar 2.25s infinite 0.75s;
    -moz-animation: changebar 2.25s infinite 0.75s;
    animation: changebar 2.25s infinite 0.75s;
}

.butterbar.active .bar {
    -webkit-animation: changebar 2.25s infinite;
    -moz-animation: changebar 2.25s infinite;
    animation: changebar 2.25s infinite;
}

.butterbar.active .bar:before {
    -webkit-animation: movingbar 0.75s infinite;
    -moz-animation: movingbar 0.75s infinite;
    animation: movingbar 0.75s infinite;
}

/* Moving bar */

@-webkit-keyframes movingbar {
    0% {
        right: 50%;
        left: 50%;
    }
    99.9% {
        right: 0;
        left: 0;
    }
    100% {
        right: 50%;
        left: 50%;
    }
}

@-moz-keyframes movingbar {
    0% {
        right: 50%;
        left: 50%;
    }
    99.9% {
        right: 0;
        left: 0;
    }
    100% {
        right: 50%;
        left: 50%;
    }
}

@keyframes movingbar {
    0% {
        right: 50%;
        left: 50%;
    }
    99.9% {
        right: 0;
        left: 0;
    }
    100% {
        right: 50%;
        left: 50%;
    }
}

/* change bar */

@-webkit-keyframes changebar {
    0% {
        background-color: #23b7e5;
    }
    33.3% {
        background-color: #23b7e5;
    }
    33.33% {
        background-color: #fad733;
    }
    66.6% {
        background-color: #fad733;
    }
    66.66% {
        background-color: #7266ba;
    }
    99.9% {
        background-color: #7266ba;
    }
}

@-moz-keyframes changebar {
    0% {
        background-color: #23b7e5;
    }
    33.3% {
        background-color: #23b7e5;
    }
    33.33% {
        background-color: #fad733;
    }
    66.6% {
        background-color: #fad733;
    }
    66.66% {
        background-color: #7266ba;
    }
    99.9% {
        background-color: #7266ba;
    }
}

@keyframes changebar {
    0% {
        background-color: #23b7e5;
    }
    33.3% {
        background-color: #23b7e5;
    }
    33.33% {
        background-color: #fad733;
    }
    66.6% {
        background-color: #fad733;
    }
    66.66% {
        background-color: #7266ba;
    }
    99.9% {
        background-color: #7266ba;
    }
}

.heart {
    display: inline-block;
    width: 347px;
    height: 347px;
    background: url("../images/21-points-logo.jpg") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .heart {
        background: url("../images/21-points-logo2x.jpg") no-repeat center top;
        background-size: contain;
    }
}

.progress-lg {
    height: 20px;
}

.m-n {
    margin: 0;
}

.m-l-sm {
    margin-left: 10px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 15px;
}

.truncate {
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.development {
    position: fixed;
}

body > .container {
    padding-top: 80px;
}

/* Smartphones */
@media handheld and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 1000px) {
    .navbar, .development {
        position: absolute;
    }


}
