<div>

    <h2 translate="21pointsApp.goal.home.title">Goals</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="goal.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="21pointsApp.goal.home.createLabel">Create a new Goal</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Goal</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteGoalConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(goal.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="21pointsApp.goal.delete.question" translate-values="{id: '{{goal.id}}'}">Are you sure you want to delete this Goal?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="21pointsApp.goal.name">Name</th>
                    <th translate="21pointsApp.goal.description">Description</th>
                    <th translate="21pointsApp.goal.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="goal in goals">
                    <td><a ui-sref="goal.detail({id:goal.id})">{{goal.id}}</a></td>
                    <td>{{goal.name}}</td>
                    <td>{{goal.description}}</td>
                    <td>{{goal.user.login}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="goal.detail({id:goal.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="goal.edit({id:goal.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(goal.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
